.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #005bac;
    color: white;
  }
  
  .logo span {
    font-size: 24px;
    font-weight: bold;
  }
  
  nav a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  