.navbar {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #005bac;
  }
  
  .navbar button {
    color: white;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  .navbar button:hover {
    text-decoration: underline;
  }
  